<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">

  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>मे श्री बाबुराव महादू घोडके सराफ</title>

  <!-- Bootstrap Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

  <!-- Owl Carousel Stylesheet -->
  <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- Fonts Styles -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Poppins:400,600,700&display=swap"
      rel="stylesheet">

  <!-- Custom Styles -->
  <link href="css/style.css" rel="stylesheet" />

  <!-- Responsive Styles -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">
  <!-- Social media start -->
  <section class="d-flex justify-content-center justify-content-lg-between pl-1 mt-1 border-bottom ">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span class="brand-name">मे श्री बाबुराव महादू घोडके सराफ</span>
    </div>

    <!-- Right -->
    <div class="top-navbar">
      <a href="tel:+91 7888124488" target="_blank" class="me-4 text-reset">
        <i class="fas fa-phone"></i>
      </a>
      <a href="https://www.facebook.com/BmGhodkeJewellers?mibextid=2JQ9oc" target="_blank" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/ms_baburao_mahadu_ghodke_saraf?igsh=aWF3eTgxemlpbzh4" target="_blank"
        class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://wa.me/7888124488" target="_blank" class="me-4 text-reset">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="" class="me-4 text-reset" target="_blank">
        <i class="fab fa-telegram"></i>
      </a>
      <a href="admin-login" class="me-4 text-reset" target="_blank">
        <i class="fas fa-circle-user"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Social media end -->
  
  <!-- header section start -->
  <header class="navbar sticky-top navbar-light border-bottom" style="background-color: #F8E8C7;">
    <!-- navigation start -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <!-- Navigation items -->
        <div class="collapse navbar-collapse " id="navbarNav" style="margin-top: 5px;">
          <ul class="navbar-nav" style="background-color: #F8E8C7;">
            <li class="nav-item">
              <a style="color: #9D130F; font-weight:600; font-size : 16px" class="nav-link active" aria-current="page"
                href="\">Home</a>
            </li>
            <li class="nav-item">
              <a style="color: #9D130F; font-weight:600; font-size : 16px" class="nav-link"
                href="#policies">Policies</a>
            </li>
            <li class="nav-item">
              <a style="color: #9D130F; font-weight:600; font-size : 16px" class="nav-link" href="#about">About
                Shop</a>
            </li>

            <li class="nav-item">
              <a style="color: #9D130F; font-weight:600; font-size : 16px" class="nav-link" href="#demands">Market
                Demands</a>
            </li>
          </ul>
          <a href="/">
            <img src="images/logo.png" alt="logo.png" class="logo mx-auto reg-logo " > 
          </a>
          <ul class="navbar-nav" style="background-color: #F8E8C7;">
            <li class="nav-item">
              <a style="color: #9D130F; font-weight:600; font-size : 16px" class="nav-link"
                href="#objectives">Objectives</a>
            </li>
            <li class="nav-item">
              <a style="color: #9D130F; font-weight:600; font-size : 16px" class="nav-link"
                href="#testimonial">Testimonials</a>
            </li>
            <li class="nav-item">
              <a style="color: #9D130F; font-weight:600; font-size : 16px" class="nav-link" href="#contact">Contact
                Us</a>
            </li>
            <li class="nav-item">
              <a style="color: #9D130F; font-weight:600; font-size : 16px" class="nav-link" href="#socialMedias">Follow
                Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- navigation end -->
  </header>
  <a href="/" class="mobile-logo">
    <img src="images/logo.png" alt="logo.png" class="logo mobile-logo">
  </a>
  <!-- end header section -->

  <!-- about section -->
  <section class="about_section layout_padding2-top layout_padding-bottom">
    <div class="design-box">
      <img src="images/design-2.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Brief History
              </h2>
            </div>
            <p>

              Baburao Mahadu Ghodke, the founder of BMG firm, started the venture in 1960 with dedication
              and vision
              despite initial challenges. With four sons supporting, the business grew. Sharad, with keen
              business
              interest, played a pivotal role after graduation. Dattatraya contributed with his
              ornament-making skills. <br> <br>

              The choice of Lasalgaon, Asia's top onion market, was strategic, attracting a diverse
              customer base. In
              1990, the business expanded its showroom. However, tragedy struck in 2006 with the sudden
              demise of <br> <br>
              Baburao Ghodke.

              Abhishek Ghodke, grandson of Baburao, emerged as a dynamic leader. Armed with a B.Com
              degree, a diploma in
              business management, and jewelry designing expertise, Abhishek injected new life into the
              business. He
              embraced technology, introducing barcoding for efficient inventory management. <br> <br>

              Abhishek's marketing prowess and strategic initiatives, such as partnering with the D'damas
              Group,
              elevated the brand. He implemented festive decorations, brochures, and lucky draw schemes to
              attract
              customers. Technological advancements like CCTV cameras enhanced security. <br> <br>

              Despite the loss of the visionary founder, Abhishek's passion, creativity, and business
              acumen steered BMG
              to new heights. The firm's commitment to quality, competitive pricing, and customer service
              established
              enduring relationships. <br> <br>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img class="about-img" src="images/about-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="about-container" id="policies">
      <div class="container ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Policies
                </h2>
              </div>
              <p>
              <div class="policies-heading">
                Quality Policy:
              </div>
              <div class="policies-content">
                BMG is dedicated to delivering high-quality products to its customers. Committed to
                maintaining exceptional standards, the company envisions sharing the joy of value
                creation
                with its clientele. The emphasis on quality permeates every aspect of BMG's operations,
                ensuring that customers receive products that not only meet but exceed their
                expectations.
                By adhering to stringent quality control measures, BMG aims to forge lasting
                relationships
                with customers, built on trust and satisfaction.
              </div>

              <div class="policies-heading">
                Price Policy:
              </div>
              <div class="policies-content">
                At BMG, all transactions adhere to a policy of transparency and legality. The pricing
                structure is clear, reasonable, and aligned with the dynamic value of gold. The company
                prioritizes fairness and integrity in its pricing practices, providing customers with
                the
                assurance that they are making informed and equitable purchases. BMG's commitment to
                transparent pricing reflects its dedication to ethical business practices.
              </div>

              <div class="policies-heading">
                After Sales Service:
              </div>
              <div class="policies-content">
                BMG extends its commitment to customer satisfaction beyond the point of sale. The
                company
                provides comprehensive after-sales service for all ornaments crafted by BMG. Notably,
                BMG
                goes above and beyond by offering service for ornaments not produced by the company.
                This
                commitment reflects BMG's customer-centric approach, aiming to ensure that every
                customer
                enjoys a seamless and satisfying experience with their jewelry, regardless of its
                origin.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  About Shop
                </h2>
              </div>
              <p>
              <div class="policies-content">
                Gold and silver, steeped in historical reverence, transcend their mere material value to
                embody profound cultural, traditional, and economic significance. These precious metals
                serve as enduring symbols of wealth, fame, and prosperity, standing as timeless assets
                that
                weather the tests of changing eras.
              </div>
              <div class="policies-content">
                Beyond their utilitarian role as stores of wealth, gold and silver seamlessly integrate
                into
                the evolving fabric of human expression, assuming a central place in fashion and
                ornamentation. The marriage of aesthetic allure and monetary value elevates these metals
                beyond mere adornments; they become tangible representations of cultural norms and
                societal
                standards, influencing personal presentation and identity.
              </div>
              <div class="policies-content">
                At the core of their ornamental significance is the widely held belief that gold and
                silver
                enhance beauty, especially for women. The radiant elegance of these metals bestows a
                celestial glow, enhancing the charisma of those who wear them. Crafted with precision,
                these
                ornaments are not just accessories but transformative enhancers, akin to adding four
                stars
                to the celestial radiance of women.
              </div>
              <div class="policies-content">
                In locales such as Lasalgaon, the gold and silver trade serves as a vital source of
                employment, providing livelihoods to skilled ornament makers, laborers, and salesmen.
                Beyond
                its economic contribution, the industry metamorphoses into a tradition, an integral part
                of
                the community's identity. The artistry of ornament making, the labor transforming raw
                materials into exquisite pieces, and the skillful salesmanship connecting these
                creations
                with patrons all interweave into the cultural tapestry, narrating a story of economic
                sustenance and tradition.
              </div>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br><br>
    <div class="about-container" id="demands">
      <div class="container ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Market Demand
                </h2>
              </div>
              <p class="policies-content">
                The demand for gold and silver jewelry in rural areas surpasses artificial counterparts,
                with villagers viewing gold not just as a fashionable ornament but a significant asset
                embodying cultural value and economic prudence. Farmers, benefiting from agriculture
                profits, often invest in the enduring allure of gold. Marwadi women contribute to the
                robust
                demand, purchasing substantial quantities for both fashion and investment.

                Gold ornaments play a multifaceted role in village life, used in various occasions and
                serving astrological purposes with stones. Noteworthy is the trend of crafting heavy
                gold
                ornaments tailored to specific orders, reflecting the personalized and traditional
                nature of
                this business. Lasalgaon, known for its international onion market, is swiftly becoming
                a
                significant hub for gold and silver, diversifying its economic landscape.

                The clientele mainly includes farmers and Marwadi businessmen, emphasizing the broad
                appeal
                of this trade. Farmers, reaping rewards from agriculture, invest in gold, highlighting
                its
                enduring cultural and economic value. The thriving demand cements Lasalgaon's status as
                a
                dynamic market for precious metals, seamlessly intertwining tradition and commerce.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Objective
                </h2>
              </div>
              <p class="policies-content">
                Gold, revered as the epitome of prosperity, holds immense significance in India. The
                primary
                objective of our firm is to bring this symbol of affluence to society, aiming to satisfy
                customers by offering exquisite jewelry designs. The focus extends beyond transactions –
                our
                goal is to continually innovate, expanding the business reach and making it widely
                recognized.
                At the core of our mission is the commitment to ensuring that the shine of our gold not
                only
                adorns the wearer but also illuminates their life with joy and radiance. We strive to
                build
                and enhance our customer database, fostering enduring relationships based on trust and
                the
                timeless allure of gold. Our vision encompasses not only providing jewelry but creating
                a
                source of happiness and prosperity for those who choose our gold. With every piece, we
                aspire to contribute to the joy and shine in the lives of our valued customers.
              </p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- testimonial start -->
  <section id="testimonial" class="client_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Testimonial
        </h2>
      </div>
      <h4 class="secondary_heading">
        What our customer has to say
      </h4>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container">
              <div class="client-id">
              </div>
              <div class="detail-box">
                <video class="test-video" src="videos/test1.mp4" controls poster="thumbnail.jpg" width="640"
                  height="360"></video>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container">
              <div class="client-id">
              </div>
              <div class="detail-box">
                <video class="test-video" src="videos/test2.mp4" controls poster="thumbnail.jpg" width="640"
                  height="360"></video>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container">
              <div class="client-id">
              </div>
              <div class="detail-box">
                <video class="test-video" src="videos/test1.mp4" controls poster="thumbnail.jpg" width="640"
                  height="360"></video>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>

    </div>
  </section>
  <!-- testimonial end -->

  <!-- contact section -->
  <section id="contact" class="contact_section layout_padding ">
    <div class="design-box">
      <img src="images/design-2.png" alt="">
    </div>
    <div class="container ">
      <div class="">
        <h2 class="">
          Contact Us
        </h2>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" placeholder="Phone" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex ">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map-responsive">
              <iframe
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=M%2FS+Shri+Baburao+Mahadu+Ghodke"
                width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- Footer -->
  <footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div id="socialMedias">
        <a href="tel:+91 7888124488" target="_blank" class="me-4 text-reset">
          <i class="fas fa-phone"></i>
        </a>
        <a href="https://www.facebook.com/BmGhodkeJewellers?mibextid=2JQ9oc" target="_blank" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/ms_baburao_mahadu_ghodke_saraf?igsh=aWF3eTgxemlpbzh4" target="_blank"
          class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://wa.me/7888124488" target="_blank" class="me-4 text-reset">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="" class="me-4 text-reset" target="_blank">
          <i class="fab fa-telegram"></i>
        </a>
        <a href="" class="me-4 text-reset" target="_blank">
          <i class="fas fa-circle-user"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column address -->
          <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4">
              Address
            </h5>
            <p>
              Zenda Chowk, Bazaar Peth, <br>
              Lasalgaon, Tel-Niphad, <br>
              Dist-Nashik, Maharashtra 422306
            </p>
          </div>
          <!-- Grid column address -->

          <!-- Grid column contact -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4">Contact</h5>
            <hr>
            <p>
              <i class="fas fa-envelope me-3"></i>
              <a class="text-reset" href="mailto:info@example.com">bmg.saraf@gmail.com</a>
            </p>
            <p><i class="fas fa-phone me-3"></i> <a class="text-reset" href="tel:+91 7888124488">+91
                7888124488</a></p>
          </div>
          <!-- Grid column contact -->

          <!-- Grid column products -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4">
              Products
            </h5>
            <p>
              <a href="jewellery#Regular" class="text-reset">Regular</a>
            </p>
            <p>
              <a href="jewellery#Temple" class="text-reset">Temple</a>
            </p>
            <p>
              <a href="jewellery#Kundan" class="text-reset">Kundan</a>
            </p>
            <p>
              <a href="jewellery#Diamond" class="text-reset">Diamond</a>
            </p>
            <p>
              <a href="jewellery#Kisna" class="text-reset">Kisna</a>
            </p>
            <p>
              <a href="jewellery#Silver" class="text-reset">Silver</a>
            </p>

          </div>
          <!-- Grid column products -->

          <!-- Grid column navigation -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4">
              Useful links
            </h5>
            <p>
              <a href="#!" class="text-reset">Home</a>
            </p>
            <p>
              <a href="#!" class="text-reset">About Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Our Products</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Our Schemes</a>
            </p>
          </div>
          <!-- Grid column navigation -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <section class="container-fluid footer_section" style="background-color: #F8E8C7;">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="#">BMGhodakejewellers</a>
      </p>
    </section>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <script src="path/to/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>